* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial;
    background-color: white;
    color: #333;
}

header {
    background-color: orange;
    color: white;
    display: flex;
    padding: 15px;
}

.container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;

}

.menu-left ul {
    list-style-type:none;
    diaplay: flex;
}

.menu-left ul li {
    margin: 0;
}

.menu-left ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

.menu-right {
    display: flex; /* Flexbox para que os itens fiquem na mesma linha */
    gap: 20px; /* Espaço entre os itens */
}

.menu-right a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu-right .darkmode-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Conteúdo principal */
main {
    text-align: center;
    padding: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode header {
    background-color: #1e1e1e;
}

body.dark-mode footer {
    background-color: #1e1e1e;
}

body.dark-mode .menu-left ul li a {
    color: #ccc;
}

body.dark-mode .menu-right a {
    color: #ccc;
}
